.robotoregular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.robotolight{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.playfairitalic{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
}

.playfairregular{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

%robotoregular{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%robotolight{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

%playfairitalic{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 900;
}

%playfairregular{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}