// Color Scheme
$white: #fff;
$platinum: #e6e7e7;
$lightgray:#d1d1d1;
$fuzzy:#e56353;
$ruddy:#d76c69;
$soanish:#ecbcba;
$eerie:#121619;
$raisin:#222323;
$nickel:#6c6e70;

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Font Sizes
$xx-large: 4.375rem;
$x-large: 30x;
$large: 18px;
$medium: 16px;
$small: 12px;

