.articleimagen{
    width:200px;
    height:200px;
    border-radius:150px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.textonaomi{
    text-align: center;
}

.textodepelos{
    @extend %robotolight;
    color: $ruddy;
}

.nombrenaomi{
    @extend %playfairitalic;
    font-size: $x-large;
}

.enlacenaomi{
    @extend %robotoregular;
    color: $fuzzy;
    transition: 0.2s;
}

.enlacenaomi:hover{
    color: $nickel;
}

.enlacenaomi:active{
    color: $platinum;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.textoverticalcentrado{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}